* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.gallery img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 8px;
    background-color: #ddd;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


@media (max-width: 600px) {
    .big {
        grid-column: span 1;
        grid-row: span 1;
    }
}